# Get your OpenAI API Key here for chat models: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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

# Get your Fireworks AI API Key here for reasoning models: https://fireworks.ai/account/api-keys
FIREWORKS_API_KEY=fw_3ZVjeHYb3H5iFzPWoh1icouH

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=d9d83a45115d31cd18bd4f16faf3a6dd

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****
